# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers={{BOOTSTRAP_SERVER}}
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username={{CLIENT_API_KEY}}
sasl.password={{CLIENT_API_SECRET}}

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000